* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: var(--color-black);
}

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-pink: #d12f7d;
    --color-blue: #073fcc;
    --color-purple: #5f01ac
}

body {
    font-family: 'Poppins', sans-serif;
}

/* inico da primeira sessao*/
#person {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;


}

.person-content {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-black)
}

.person-content div h1 {
    position: relative;
    color: transparent;

    padding: 0 4px;

    font-size: 4.5rem;
    line-height: 6rem;
    width: fit-content;
    font-size: calc(2vw + 1.5rem);
    line-height: calc(3vw + 1.8rem);

    animation: written_text 3s ease forwards;

}

.person-content div h1:nth-child(1) {
    animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
    animation-delay: 2s;
}

.person-content div h1:nth-child(3) {
    animation: written_text_name 3s ease forwards;
    animation-delay: 2.5s;
}

.person-content div h1 span {

    position: absolute;
    top: 0;
    left: 0;

    /* width: 0; */
    height: 100%;

    animation: written_text_box 1s ease;
    animation-delay: .5s;
    background: var(--color-blue);
}

.person-content div h1:nth-child(1) span {
    animation-delay: 2s;
}

.person-content div h1:nth-child(2) span {
    animation-delay: 2.5s;
}

.person-content div h1:nth-child(3) span {
    animation-delay: 3s;
}

.person-name {
    margin-top: 11rem;
    padding: 0px 20px
}

.stacks-content {
    display: flex;
    justify-content: center;
    flex-direction: column;


    margin: 5rem 0 2rem;
    padding: 0px 20px
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: calc(.85vw+5rem);

    margin-left: 20px;
}

.stack {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.stack li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;
}

.stack li img {
    width: calc(3.5vw + 0.5rem);
    height: 30px;
    transition: transform .5s ease;

}

.stack li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stack li div:hover::after {
    content: attr(data);

    position: absolute;
    top: 45px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white);
    font-size: 1.25vh;
}

/* Small */
@media (max-width: 376px) {

    .person-name {
        padding: 0px 10px;
    }

    .stacks-content {
        padding: 0px 10px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stack li {
        margin: 0px;

    }

    .stack li img {
        width: calc(3.5vw + .5rem);
    }
}

@media (max-width:1000px) and (orientation : landscape) {

    .stack li div:hover::after {
        font-size: 1.3vw;
    }

    .stacks-content h3 {
        font-size: 1vw;
    }

}

/* Small till Medium */
@media (min-width:377px) and (max-width:768px) {
    .stacks-content h3 {
        margin-left: 10px;
    }

    .stack li {
        margin: 0px;

    }

    .stack li img {
        width: calc(3.5vw + .5rem);
    }

    .person-name {
        padding: 0px 10px;
    }

    .stacks-content {
        padding: 0px 10px;
    }

    .stack li img {
        width: calc(3.2vw +.5rem);
    }
}

.person-background {
    height: 100vh;
    width: 50%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1;

    background-image: url(./assets/./img/Backgorund-portfolio-2.jpg);
    background-size: cover;
    background-position: top center;
}

.person-background::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    opacity: .7;
    z-index: -1;

    background: linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 365%, var(--color-black));


}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: calc(1vw + 0.2rem);
    margin: 20px 15px;

    margin-top: 25%;
    margin-bottom: 30px;
    margin-right: 1%;

    border-radius: 50%;


    background: radial-gradient(rgba(0, 0, 0, 0.15) 60%, transparent 0),
        radial-gradient(#fff 68%, transparent 0),
        linear-gradient(to top right, #fff 0%, #073fcc 100%);
}


.profile-photo {
    max-width: 320px;
    width: 100%;
    border-radius: 50%;
}

.links a img {
    width: calc(2vw + 0.8rem);
    height: calc(2vw + 0.8rem);
    margin: calc(0.8vw + 0.8rem);


    filter: brightness(.8);

    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);

}

@media(max-width:768px) {
    .links a img {
        width: 20px;
        height: 20px;
    }
}

@media(max-width:1440px) and (orientation:landscape) {
    .profile-photo {
        width: 45vw;
    }
}

@media(min-width:1440px) {
    .profile-photo {
        max-width: initial;
        width: 25vw;

    }
}

/*final da primeria sessao*/


#about {
    height: auto;
    width: 100%;
    background: var(--color-black);


    display: flex;
    color: var(--color-white);
}

.backgorund-about {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper-about {
    height: 100%;
    width: 100%;

    position: relative;

}


.img-wrapper-about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(3deg, transparent 30%, var(--color-black)),
        linear-gradient(3deg, transparent 65%, var(--color-black));
}

.img-wrapper-about img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

#box-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;

    padding: 3rem;
    margin: 6rem 0rem;

}

.section-subtilte h2 p {

    display: inline-block;
    font-size: calc(1.4vw + 1.2rem)
}

.section-subtilte h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-white);
}

#about h3 {
    margin: 3rem;
    font-size: calc(.8vw + .8rem);
}

#about h3 p {
    display: inline-block;

    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-blue);
}

#about h4 {
    margin: 1rem 3rem;
    font-size: calc(.8vw + .8rem);

}

#about h4 p {
    display: inline;
    padding: 2px 4px;
    color: var(--color-blue);
    font-size: calc(.8vw + .8rem);
    margin: 0rem 0rem;


}

.btn-curriculo {
    display: flex;

    max-width: 190px;
    margin: 4rem 3rem;

}

.btn-curriculo a {
    display: inline;
    padding: calc(0.2vw + 0.8rem)calc(2vw + 0.8rem);
    font-size: calc(.7vw + .55rem);

    margin-bottom: 3rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;

    border-radius: 10px;
    cursor: pointer;
    color: var(--color-blue);
    background-color: var(--color-white);
    text-align: center;

}

.btn-curriculo a:hover {
    transition: all .3s ease;
    filter: brightness(.8);
}



/* Small */
@media(max-width:375px) {
    #box-section {
        padding: 1rem;

    }

    #box-section h3 p {
        font-size: .8rem;
    }

    #box-section h3 {

        margin: 2rem 1rem;
    }

    #about h4 {

        margin: 2rem 1rem;
        font-size: calc(.8vw + .5rem);
    }

    #about h4 p {

        margin: 0rem 0rem;
        font-size: calc(.8vw + .5rem);
    }
}

/* md */
@media(min-width:376px) and (max-width:768px) {
    #box-section {
        padding: 1.3rem;
    }

    .section-subtilte p {
        font-size: 2rem;
    }

    #box-section h3 {
        margin: 1.5rem 1rem;
    }

    #about h4 {
        margin: 1.5rem;
    }
}

@media(min-width:768px) and (max-width:1440) {
    #box-section {
        padding: 1.8rem;
    }

    .section-subtilte p {
        font-size: 2.5rem;
    }

    #box-section h3 {
        margin: 2rem 1rem;
    }

    #about h4 {
        margin: 1.5rem;
    }
}

/* final do sobre*/

#projects {
    height: auto;
    width: 100%;

    background: var(--color-black);

    display: flex;
    flex-direction: column;



}

.project-tiltle h2 {
    margin-top: 60px;
    padding: 2rem;
    font-size: 3rem;
    color: var(--color-white);
}

/* .wrapper-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
    height: 500px;

} */


.container-projects {
    height: 100%;
    width: 100%;
    max-width: 1020px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    height: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 20px;
    margin-top: 2rem;
    height: 500px;

}

.card-projects {
    display: flex;

    align-items: center;
    flex-direction: column;

    position: relative;

    /* width: 320px;
    height: 450px; */

    height: 100%;
    width: 100%;

    padding: 30px 20px 20px;
    /*    margin: 0px 10px; */
    background: var(--color-white);
    border-radius: 20px;

    z-index: 1;
}

.card-projects::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background-color: var(--color-blue);

    border-radius: 20px 20px 0px 0px;

    z-index: -1;

}

/* .content-project {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    z-index: 1;
} */

.img-projects {
    height: 240px;
    width: 250px;

    /* height: 100%;
    width: 100%; */

    position: relative;


    overflow: hidden;

    border-radius: 30px;
    border: solid 4px var(--color-blue);
    margin: 0 auto;
}

.img-projects a img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 30px;
    border: solid 2px var(--color-white);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.img-projects img:hover {
    transform: scale(1.1);

}

.card-projects span {

    display: flex;
    justify-content: center;
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;

    margin: .75rem auto .5rem auto;
}

.card-projects p {
    color: #343d4b;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem 1.75rem;
}

.btn-project {
    width: 200px;
    margin: auto auto 15px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}

.btn-project a {
    padding: 5px 16px;
    font-size: 1.25rem;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 10px;

    transition: opacity .3s ease;

}

.btn-project a:hover {
    opacity: .7;

}

@media (max-width:375px) {
    .card-projects span {
        font-size: 1.5rem;

    }

    .card-projects p {
        font-size: 1.5rem;
    }
}

@media (max-width:1000px) {
    .swiper {
        max-width: 700px;
    }
}

@media (max-width:700px) {
    .swiper {
        max-width: 350px;
    }
}

/* final project */



#contacts {
    display: flex;
    flex-direction: column;

    /*   height: 40vh; */
    width: 100%;

    background-color: var(--color-black);
    color: var(--color-white);

}

.contact-icon-content h2 {
    margin: 3rem;
    padding: 1rem;

    font-size: 3rem;

    color: var(--color-white);
}

.contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 2.5rem;


}

.contact-icons-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 rem 3 rem;
    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
    padding: 1rem;

    border-radius: 50%;

    background-color: var(--color-white);
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-blue);
}

.contact-info span {
    font-size: 1.2rem;
    font-weight: bold;

}

.contact-info p {
    margin: .25rem 0 rem;

}

.contact-info a {
    display: block;
    margin: .25rem 0 rem;
    color: var(--color-white);
}

#header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    position: fixed;

    width: 100%;

    padding: 15px 30px;
    background-color: transparent;
    transition: all .3s ease;

    z-index: 2;
}

.header-title h1 {
    color: var(--color-blue);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover {
    opacity: .8;
}

.navbar {
    width: 100%;
    max-width: 350px;

}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navbar-links li a {

    color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.menu-humburguer {
    display: none;
}

@media(max-width:560px) {
    .navbar {
        display: flex;
        justify-content: end;
    } 
    .navbar-links li a {
        color: var(--color-white);
    }

    .navbar-links {
        display: flex;
        flex-direction: column; 
       


        width: 50%;
        height: 100vh;

        position: fixed;
        right: 0;
        top: 0;
        background-color: #343d4b;

        clip-path: circle(100px at 90% -20%);
        pointer-events: none;
        transition: .6s ease-in-out;

    }

    .menu-humburguer {
        display: block;
        padding: 0;
        margin-bottom: 1.4rem;
        background-color: transparent;
        border: none;
        border-top: solid 3px var(--color-white);
        transition: all .3s ease-in-out;

        z-index: 1;
    }

    .menu-humburguer:before{
        opacity: .8;
        cursor: pointer;
    }
    .menu-humburguer::before,
    .menu-humburguer::after {
        content: "";
        display: block;
        width: 25px;
        height: 3px;

        margin-top: .6rem;

        background-color: var(--color-white);
    }

  
    /* ACTIVE */ 
  
   .navbar.active .navbar-links{
        clip-path: circle(1440px at 90% -18%);
        pointer-events:all; 
       
    }
  .navbar.active .menu-humburguer{
        border-top-color: transparent;
    }
  .navbar.active .menu-humburguer::before{
        transition: .2s all ease-in-out;
        transform: rotate(-45deg) translate(-2px,-1px);
    }
  .navbar.active .menu-humburguer::after{
        transition: .2s all ease-in-out;
        transform: rotate(45deg) translate(-7px,-5px);
    } 
} 

#footer {
    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #191919;

}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;

    flex-direction: column;
    color: var(--color-white);
}





@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}

@keyframes written_text_name {
    100% {
        color: var(--color-blue);
    }
}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0
    }

    100% {
        width: 0;
        left: 100%;
    }
}